.form-container {
  margin: 20px 40px;
  padding: 0 15px 15px 15px;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: #d1d1d1;
}

.form-description {
  color: grey;
}

.input-container {
  margin: 30px 0;
}

ion-label {
  white-space: nowrap;
}

.button-container {
  display: flex;
  flex-direction: row-reverse;
  margin: 20px 0;
}
