<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-info-container">
    <img alt="no-image" src="assets/OIP.jpeg" class="account-photo">
    <div class="name-container">
      <h2>Javier Martinez</h2>
      <ion-icon name="checkmark-circle" class="info-icon verified-icon"></ion-icon>
<!--      <ion-icon name="warning" class="info-icon warning-icon"></ion-icon>-->
    </div>
    <span class="validation-text">Verified User</span>
<!--    <span class="validation-text">User not verified</span>-->
  </div>
  <div class="info-container">
    <label class="info-label">Full Name</label>
    <p class="info-data">Javier Martinez</p>

    <label class="info-label">Phone Number</label>
    <p class="info-data">+591 1234456</p>

    <label class="info-label">Email</label>
    <p class="info-data">javier.com</p>
  </div>
</ion-content>
